body {
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    font-family: Helvetica, Arial, Sans-Serif;
}

button { 
    margin: 10px 10px 10px 10px; 
    padding: 5px 5px 5px 5px;
}


#container {
    text-align: center;
}
/*
#container::before, #container::after {
    content : " ";
}*/
